extends layout

block content
  h1.main-title= title
  
  ul.inventory-unordered-list
    each category in categories_list
      li.inventory-list
        a(href=category.url) #{category.name} 

    else
      li There are no categories.