extends layout

block content
  div(class="row")
    div(class="col align-self-center")
      h1.main-title= title

      if error 
        p Error getting dynamic content 
      else  
        p Current Inventory Stock
        p= results

        ul.inventory-unordered-list
          li.inventory-list #[strong Items:] !{data.item_count}
          li.inventory-list #[strong Categories:] !{data.category_count}