extends layout

block content
  h1= title

  if error 
    p Error getting dynamic content 
  else  
    p Current Inventory Stock
    p= results

    ul
      li #[strong Items:] !{data.item_count}
      li #[strong Categories:] !{data.category_count}