body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 90vh;
}

#main-container {
  padding-bottom: 50px;
  min-height: 90vh;
  position: relative;
  
}

a {
  color: #00B7FF;
}

#main-inventory-brand {
   color: #00B7FF;
}

li {
  list-style-type: none;
}

.navbar-link {
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-item {
  padding-right: 50px;
  padding-left: 50px;
}

#navbarToggleButton {
  padding: 10px;
  border-radius: 3px;
}

.navbar-nav {
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-brand {
  padding-right: 20px;
  padding-left: 20px;
  font: 24px;
}

.main-title {
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.inventory-list {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.inventory-unordered-list {
  padding: 0px;
}
 
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;            /* Footer height */
  padding-left: 25%;
}